# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env

# Logs and Data
logs/
data/

# Testing
.pytest_cache/
coverage.xml
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo